html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}
/* DIV RED BORDER SETUP */
/* div{
  border: dotted red 1px;
} */

/*LOGIN AND SIGNUP PAGE */
#signup-form-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

#login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
#form-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  border-radius: 5px;
  width: 30%;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

/*PRIMARY BUTTONS*/
.btn-primary {
  background-color: #1E3888;
  color: rgb(255, 255, 255);
  --bs-btn-active-bg: #1E3888;
}
.btn-primary:hover {
  background-color: #1E3888;
}
.button-add-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

/* TRY BUTTON*/

.btn-lg:hover {
  transform: scale(1.1);
}
.btn-lg {
  transition: transform 0.3s ease-in-out;
  text-shadow: 0.5px 0px 0.5px #fff;
}
@keyframes bubble {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
#selectionLimitModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050; /* Ensure modal is on top */
}